mixin ProductPreviewItem(data)
	a.text-decoration-none.mil-product-preview-item.d-inline-block&attributes(attributes)
		.mil-product-preview-item-img(style="background-image: url(" + data.image + ")")
			img.d-none(src= data.image alt="" title="")
			if data.close
				.i.i-close
			.badge-container
				if data.sale
					.badge.sale.text-primary.bg-white Sale
				if data.new
					.badge.new.bg-white New
				if data.hit
					.badge.hit.bg-white Хит
			input.favorites-check(type="checkbox" checked= data.checked)
		div
			p= data.name
			p.mil-product-preview-item-price
				if !data.sale
					span= data.price
				if data.sale
					s= data.price
					span.text-primary= data.sale.price
					span.badge.bg-primary= data.sale.percent
			if data.isSizes
				ul.mil-product-preview-item-sizes
					li 35
					li.disable 36
					li 37
					li 38
					li.disable 39
					li 40
					li 41
